body{
    background: lightblue;
    text-align: center;
    margin: 0;
}

.header{
    height: 400px;
    width: 200px;
    object-fit: contain;
    background-image: linear-gradient(rgba(199, 203, 216, 0.7) ,rgba(207, 212, 231, 0.7)), url(Images/OrangeFish.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
