*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 400px;
    width: 100%;
    object-fit: contain;
    /*linear-gradient(rgba(199, 203, 216, 0.7) ,rgba(207, 212, 231, 0.7)), */
    background-image: url(Images/OrangeFish.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
